<%= stylesheet_link_tag 'footer' %>

<div class="footer-cont" data-anchor="Footer">
	<div class="expanded row">
		<div class="large-1 large-offset-1 medium-1 medium-offset-1 columns">
		    <div id="ssnn">
				<a class="sn-container" href="https://www.facebook.com/pages/Medica-Santa-Carmen/154450494671838?fref=photo&sk=photos">
					<i class="fa fa-facebook fa-lg"></i>
				</a>
				<a class="sn-container" href="https://twitter.com/medicasc">
					<i class="fa fa-twitter fa-lg"></i>
				</a>
				<a class="sn-container" href="https://vimeo.com/santacarmen">
					<i class="fa fa-vimeo fa-lg"></i>
				</a>
			</div>
		</div>
		<div class="large-3 medium-3 columns">
			<%= image_tag "images/LogoMSC-white.png", :class=>"footer-logo" %>
		</div>
		<div class="large-6 medium-6 columns end  footer-col-3">
			<div class="row">
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://www.medicasantacarmen.com/servicios.html">Servicios</a>
				</div>
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://www.medicasantacarmen.com/clinicas.html">Clínicas</a>
				</div>
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://www.medicasantacarmen.com/pages/testimonios">Testimonios</a>
				</div>
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://www.medicasantacarmen.com/pages/revisa">¡Revisa tu riñón!</a>
				</div>
			</div>
			<div class="row">
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="#">Nuestra Historia</a>
				</div>
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://www.medicasantacarmen.com/index.html" class="temporal">Portal del Paciente</a>
				</div>
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://www.medicasantacarmen.com/index.html">Preguntas Frecuentes</a>
				</div>
				<div class="large-2 large-offset-1 medium-2 medium-offset-1 small-5 small-offset-1 columns">
					<a href="http://blog.medicasantacarmen.com/">Blog</a>
				</div>
			</div>
		</div>
	</div>	
	<div class="copyright">
		<span>&copy; 2016 Médica Santa Carmen. Powered by </span>
		<a href="http://www.thesocialus.com" title="The Social Us" target="_blank"><img src="images/micrologo.png" alt="TheSocialUs"></a>
	</div>
</div>