---
title: Servicios - Médica Santa Carmen
---

<%= stylesheet_link_tag 'servicios' %>

<%= partial "header" %>

<div id="fullpage" class="servicios-main-div">
  <div class="section fp-auto-height front-cont">
    <%= image_tag "images/servicios.jpg", :class=>"fullwidth-img" %> 
    <div class="front-text">
      <div class="front-text-2">
        <p>Nuestra misión es brindar bienestar de vida a nuestros pacientes y sus familias a través de una atención accesible, efectiva y digna. Por eso ofrecemos a nuestros pacientes una amplia gama de tratamientos especializados en el cuidado efectivo de sus riñones.</p>
      </div>
    </div>
  </div>

  <div class="services-cont">
    <ul class="accordion" data-accordion data-allow-all-closed="true">
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">nefrología</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>En Médica Santa Carmen contamos con los mejores especialistas en padecimientos del riñón en todo México. Además de estar académicamente preparados, son unas personas altamente humanas, dedicadas a dar el mejor trato a cada paciente que pasa por nuestras clínicas. En nuestras consultas de nefrología usted será atendido por un especialista en el riñón, quien le dará un diagnóstico real, le proporcionará información sobre los pasos que podría seguir y, si usted lo desea, le diseñará un plan de acción para atacar su enfermedad renal. </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">hemodiálisis</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>En términos sencillos, la hemodiálisis es un procedimiento que sirve para purificar y filtrar la sangre por medio de una máquina. Pretende librar al organismo temporalmente de desechos nocivos (urea, creatinina, etc.), de sal y de agua en exceso. La hemodiálisis ayuda a controlar la tensión arterial y ayuda al organismo a mantener un balance adecuado de electrolitos (potasio, sodio, calcio) y bicarbonato.</p>
          <p>Actualmente, nuestro programa de Hemodiálisis en Médica Santa Carmen, ha tratado, satisfactoriamente, a más de 1000 personas.  Nuestro compromiso, más allá de brindar un servicio médico de primera, es lograr que la Hemodiálisis sea lo menos incómoda para  nuestros pacientes, tratándolos con mucho calor humano y atendiéndolos con un equipo de enfermería altamente calificado, en un centro de diálisis de la más alta calidad tecnológica.</p>
          <p><b>¿Por qué elegir este tratamiento?</b></p>
          <ul>
            <li>Flexibilidad de horarios y sesiones los 7 días de la semana. </li>
            <li>Tratamiento administrado por especialistas calificados y certificados. </li>
            <li>Ambiente acompañado de otros pacientes con el mismo padecimiento.</li>
            <li>Contamos con máquinas dializadores de última generación.</li>
          </ul>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">diálisis peritoneal</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>Es una forma de diálisis en la que el recubrimiento del abdomen, la membrana peritoneal, actúa como un filtro natural. Este proceso implica colocar un catéter en su cavidad abdominal y llenarla de líquido limpiador (solución de diálisis). El desecho y el exceso de líquido pasan por sus vasos sanguíneos a través del peritoneo hasta la solución. Luego de un período de tiempo, la solución y el desecho se drenan y se descartan.</p>
          <p>Estudios han determinado que este tratamiento tiene como beneficios más importantes la comodidad y posibilidad de continuar con sus tareas diarias, y una tasa menor de complicaciones durante el proceso de diálisis.</p>
          <p>En Médica Santa Carmen contamos con todos insumos necesarios para que usted realice sus sesiones de diálisis peritoneal en casa bajo la supervisión y seguimiento en un equipos especializado. </p>
          <p><b>¿Por qué elegir este tratamiento?</b></p>
          <ul>
            <li>Puede realizarlo en la comodidad de su hogar.</li>
            <li>Puede realizar varias sesiones durante el día.</li>
            <li>Es un tratamiento que se realiza usted mismo, sin necesitar asistencia.</li>
            <li>Le permite continuar con sus tareas diarias.</li>
            <li>Le permite tener una dieta más permisiva. </li>
            <li>No son necesarias las agujas.</li>
          </ul>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">nutrición</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>Parte esencial del tratamiento renal pasa por mantener una correcta alimentación que beneficie y haga más sencillo el trabajo de nuestro organismo cuando existe un falla en la actividad de los riñones.  Al padecer de Enfermedad Renal, nuestro organismo deja de filtrar las toxinas y excesos de líquido en la sangre, por lo que debemos modificar nuestros hábitos alimenticios para reducir el consumo de ciertos alimentos y líquidos.</p> 
          <p>En Médica Santa Carmen nos encargamos de todos los aspectos que harán su tratamiento más efectivo. Para ello contamos con un calificado equipo de Nutriólogos renales que se encargarán de diseñar dietas especializadas en las características únicas de cada paciente y su tipo de tratamiento. Además, en nuestras clínicas podrán realizar citas para recibir atención nutricional aunque no padezcan de enfermedad renal.</p>
          <p><b>Beneficios:</b></p>
          <ul>
            <li>Atención nutricional durante todo su tratamiento.</li>
            <li>Elaboración de planificación alimenticia según las condiciones únicas del paciente.</li>
            <li>Consultas generales.</li>
          </ul>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">accesos vasculares</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>Una parte esencial del tratamiento de la enfermedad renal son los Accesos Vasculares. Estos procedimientos quirúrgicos se llevan a cabo para establecer una “conexión” entre el paciente y la máquina de diálisis.  Consiste en insertar un tubo de plástico flexible, llamado catéter, dentro de un vaso sanguíneo para permitir la extracción y reingreso de la sangre al cuerpo durante el proceso de diálisis.</p> 
          <p>Los especialistas y cuerpo de enfermería en Médica Santa Carmen están académica y técnicamente preparados para la colocación de los distintos tipos de accesos vasculares, dependiendo del tratamiento que necesite el paciente.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">atención psicológica</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>En Médica Santa Carmen nos hemos propuesto brindar soluciones integrales para todos nuestros pacientes, por lo que no sólo nos encargamos del tratamiento clínico.</p>
          <p>Con un equipo profesional de psicólogos,  realizamos consultas a nuestros pacientes renales con la finalidad de atacar la insuficiencia renal desde todos los ángulos: el médico, el nutricional y el psicológico.</p>
          <p>Parte primordial de estar en tratamiento renal es aprender a vivir con la enfermedad, y aunque no lo crean, sí es posible vivir una vida plena a pasar de la IRC.  El equipo psicológico le brindará las herramientas necesarias a nivel personal para que usted continúe con su vida de una manera positiva. </p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">laboratorio</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>Parte primordial de una atención especializada en la enfermedad renal, es el proceso de diagnóstico. Para ello, en Médica Santa Carmen, contamos con amplios servicios de laboratorio donde las personas podrán asistir a hacerse una gran variedad de exámenes médicos.</p>
          <p>Para el diagnóstico de la Enfermedad Renal, realizamos exámenes de: Albúmina Sérica y Electrolitos.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">diabetes</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>Considerando que la diabetes es la causa más común de falla renal, en Médica Santa Carmen contamos con servicios de diagnóstico, consulta y tratamientos, enfocados en darle calidad de vida a todas aquellas personas que deben vivir cuidando su consumo de azúcar para mantenerse sanos.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">trasplantes</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>El trasplante renal es una cirugía en la que se coloca un riñón funcional en el cuerpo de una persona con insuficiencia renal. Pero, el proceso de trasplante no sólo comprende la cirugía, sino también un meticuloso y detallado estudio pre-operatorio donde los médicos especialistas determinan las características del paciente para encontrar un riñón que sea compatible (mismo tipo de sangre y tejido).</p>
          <p>Es importante también recordar que un trasplante no es una solución definitiva. Luego de la operación el paciente debe recibir una serie de cuidados y monitoreo preventivo, en el cual el equipo médico administra inmunosupresores para evitar que el cuerpo rechace el nuevo riñón al considerarlo un agente externo.</p>
          <p>En Médica Santa Carmen estamos comprometidos a acompañar a nuestros pacientes en todo el proceso previo y posterior al trasplante de riñón.</p>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">urología</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>En Médica Santa Carmen ofrecemos los mejores tratamientos para eliminar las dolorosas piedras en los riñones.</p>
          <p>Mediante procedimientos médicos y meticulosos exámenes, nuestros especialistas le brindarán las mejores soluciones para este problema que afecta a hombres, mujeres y niños.</p>
        </div>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">centro de cirugía</a>
        <div class="accordion-content servicios-text" data-tab-content>
          <p>En Médica Santa Carmen nos esforzamos por ofrecer a todos nuestros pacientes una atención integral. Conscientes de lo complicado que resulta realizar sus tratamientos en distintos centros de atención porque no cuentan con toda la gama de servicios, en MSC contamos con un Centro de Cirugía dotado con todos los equipos necesarios para realizar cualquier tipo de procedimiento quirúrgico relacionado con la enfermedad renal.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<%= partial "footer" %>